*{
    font-family: "Comfortaa";
    text-align: center;
}.active{
    scale: 0.98;
    opacity: 0.9;
}#enemyDisplay:active{
    scale: 0.95;
    opacity: 0.7;
}
.progress-container {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
    overflow: hidden;
    height: 30px;
    margin-top: 20px;
    position: relative;
  }.progress-bar {
    height: 100%;
    width: 0%;
    background-color: #C1E1C1;
    transition: width 1s ease;
    border-radius: 5px;
  }.progressBarText{
    position: absolute;
    text-align: center;
    z-index: 1;
  }button{
    transition: ease 1s;
    border-radius:20%;
    border-width: 1px;
  }button:hover{
    border-radius: 35%;
    transition: ease 1s;
    background-color: #C1E1C1;
  }#coinAMOUNT{
    color:#B59410
  }.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #efead4;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}#BlobbySidebarDiv:hover{
  background-color:#F5DEB3;
  transition: ease 0.5s;
}.inventoryTab{
  border:2px solid;
  padding:1vw;
}.inventoryTab:hover{
  border:2px solid;
  padding:0.5vw;
  background-color: #efead4;
  transition: ease 0.5s;
}#curios-grid-container{
  justify-content: center;
  display: grid;
  gap:10px;
}.curios-grid-item{
  align-items: center;
  border: 2px solid;
  display: flex;
  justify-content: center;
  transition: background-color 0.3s;
}.curios-grid-item:hover{
  background-color:#F5DEB3 ;
}