#toShop{
    position: absolute;
    top: 35vh;
    left:3vw;
}#stats{
    position: absolute;
    top:4vh;
    left:5vw;
}#basicBlobDisplayDiv{
    position: relative;
    display: inline-block;
    left: -5vw;
}#enemyDisplayDiv{
    position: relative;
    display: inline-block;
    right: -20vw;
}#squadSideBar{
    position: absolute;
    top:20vh;
    left:3vw;
}#toInventory{
    position: absolute;
    top:50vh;
    left:3vw;
}#frayedTreasureBagDiv, #patchedTreasureBagDiv{
    display: inline-block;
    padding: 4vw;
}#openAugmentsMenu{
    position: absolute;
    top:45vh;
    left:3vw;
}.damage-number {
    position: absolute;
    font-size: 3vh;
    color: red;
    font-weight: bold;
    pointer-events: none; 
    animation: float-up 1s forwards;
  }#currentObjective{
   text-align: center;
  }#openAdventureTab{
    position: absolute;
    top:40vh;
    left:3vw;
  }
